@font-face {
	font-family: 'Harabara';
	src: url('./fonts/Harabara.eot');
	src: local('Harabara'), url('./fonts/Harabara.woff') format('woff'), url('./fonts/Harabara.ttf') format('truetype');
}
@font-face {
  font-family: 'octicons';
  src: url('./fonts/octicons.eot?#iefix') format('embedded-opentype'),
       url('./fonts/octicons.woff') format('woff'),
       url('./fonts/octicons.ttf') format('truetype'),
       url('./fonts/octicons.svg#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
#scroll{
	position: relative;
}
.harabara {
	font-family: 'Harabara' !important;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar{
	margin-bottom: 0px;
}
.ajax-loader{
	margin: auto;
	width: 100px;
}

header{
	background-color: rgb(34,34,34);
}
.bs-docs-header {
    box-sizing: border-box;
    color: rgb(71, 69, 70);
    height: 160px;
    position: relative;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    perspective-origin: 950.5px 128px;
    transform-origin: 950.5px 128px;
    background-color: rgb(156,169,141);
    border: 0px none rgb(205, 191, 227);
    font: normal normal normal normal 24px/34.2857170104981px 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 0px 40px;
    outline: rgb(205, 191, 227) none 0px;
    padding: 30px 15px;

	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.28), Direction=180, Strength=5);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    -o-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.bs-docs-header h1 {
    box-sizing: border-box;
    color: rgb(242,237,215);
    height: 40px;
    text-align: left;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.64);
    width: 760px;
    perspective-origin: 380px 30px;
    transform-origin: 380px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 60px/60px 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 380px 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.bs-docs-header p{
    color: rgb(240,240,240);
    font-size: 14px;
    font-variant: 500;
	margin-left: 1px;
	transform:scale(1.2,1); /* W3C */
	-webkit-transform:scale(1.25,1); /* Safari and Chrome */
	-moz-transform:scale(1.25,1); /* Firefox */
	-ms-transform:scale(1.25,1); /* IE 9 */
	-o-transform:scale(1.25,1); /* Opera */
	transform-origin: left top;
}
.filter{
	padding: 5px 35px 5px 15px!important;
	border-radius: 4px;
	width: auto!important;
	display: inline-block!important;
	float: right;
	margin-left: 4px;
	transition: opacity 0.15s linear 0s;
	border: 1px solid rgb(245, 231, 158);
}
.filter .close{
	top: 0px!important;
}
.filter text{
	float: right!important;
}

#navbar2-navzone-1-dropdown-3-dropdown-item-1{
	background: url(images/zoom.png) no-repeat left;
	padding-left: 20px;
	margin-left: 10px;
}

.bs-example:before {
	display: block;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: capitalize;
    letter-spacing: 1px;
    content: "Example";
    margin-bottom: 3px;
}

.sitemap {
    box-sizing: border-box;
    height: 300px;
    width:100%;
    perspective-origin: 950.5px 267.15625px;
    -webkit-perspective-origin: 950.5px 267.15625px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 950.5px 267.15625px;
    -webkit-transform-origin: 950.5px 267.15625px;
    background: rgb(71, 69, 70) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 23, 27);
    outline: rgb(24, 23, 27) none 0px;
    padding: 30px 0px 0px;
    -webkit-border-after: 0px none rgb(24, 23, 27);
    -webkit-border-before: 0px none rgb(24, 23, 27);
    -webkit-border-end: 0px none rgb(24, 23, 27);
    -webkit-border-start: 0px none rgb(24, 23, 27);
    margin-top: 10px;
}
.copyright{
	color: white;
}
.copyright a{
	color: #9e9e9e;
}
.sitemap ul{
	list-style-type: none;
	padding: 0;
}
.jumbotron p{
	font-size: 18px!important;
}
.jumbotron .lead{
    font-weight: 500;
}
#response{
	min-height: 500px;
}

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
	@-webkit-keyframes pulse {
	  0% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	  }
	
	  50% {
	    -webkit-transform: scale(1.1);
	    transform: scale(1.1);
	  }
	
	  100% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	  }
	}
	
	@keyframes pulse {
	  0% {
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	  }
	
	  50% {
	    -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	  }
	
	  100% {
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	  }
	}

.ajax-loader{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 50px auto;
 }
.loading-spin {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    width: 100%;
       height: 100%;
    color: #444;
    font-size: 100px;
}
.loading-logo {
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
       animation: pulse 2s linear infinite;
       -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
       transform-origin: 50% 50%; 
    position: absolute;
       width: 100%;
       height: 100%;
       color: #9CA98D;
       font-size: 40px;
       padding: 28px;
}
 
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?6apdie');
	src:url('fonts/icomoon.eot?6apdie#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?6apdie') format('truetype'),
		url('fonts/icomoon.woff?6apdie') format('woff'),
		url('fonts/icomoon.svg?6apdie#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner2:before {
	content: "\e800";
}
.icon-github4:before {
	content: "\e801";
}
/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon {
    font: normal normal 16px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.octicon-link:before { content: '\f05c'; }

.anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}

.anchor:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    height: 1em;
    padding-left: 8px;
    margin-left: -30px;
    line-height: 1;
    text-decoration: none;
}

h1:hover .anchor .octicon-link,
h2:hover .anchor .octicon-link,
h3:hover .anchor .octicon-link,
h4:hover .anchor .octicon-link,
h5:hover .anchor .octicon-link,
h6:hover .anchor .octicon-link {
    display: inline-block;
}

.mega-octicon { font-size: 32px; }

.octicon-alert:before { content: '\f02d'} /*  */
.octicon-arrow-down:before { content: '\f03f'} /*  */
.octicon-arrow-left:before { content: '\f040'} /*  */
.octicon-arrow-right:before { content: '\f03e'} /*  */
.octicon-arrow-small-down:before { content: '\f0a0'} /*  */
.octicon-arrow-small-left:before { content: '\f0a1'} /*  */
.octicon-arrow-small-right:before { content: '\f071'} /*  */
.octicon-arrow-small-up:before { content: '\f09f'} /*  */
.octicon-arrow-up:before { content: '\f03d'} /*  */
.octicon-microscope:before,
.octicon-beaker:before { content: '\f0dd'} /*  */
.octicon-bell:before { content: '\f0de'} /*  */
.octicon-book:before { content: '\f007'} /*  */
.octicon-bookmark:before { content: '\f07b'} /*  */
.octicon-briefcase:before { content: '\f0d3'} /*  */
.octicon-broadcast:before { content: '\f048'} /*  */
.octicon-browser:before { content: '\f0c5'} /*  */
.octicon-bug:before { content: '\f091'} /*  */
.octicon-calendar:before { content: '\f068'} /*  */
.octicon-check:before { content: '\f03a'} /*  */
.octicon-checklist:before { content: '\f076'} /*  */
.octicon-chevron-down:before { content: '\f0a3'} /*  */
.octicon-chevron-left:before { content: '\f0a4'} /*  */
.octicon-chevron-right:before { content: '\f078'} /*  */
.octicon-chevron-up:before { content: '\f0a2'} /*  */
.octicon-circle-slash:before { content: '\f084'} /*  */
.octicon-circuit-board:before { content: '\f0d6'} /*  */
.octicon-clippy:before { content: '\f035'} /*  */
.octicon-clock:before { content: '\f046'} /*  */
.octicon-cloud-download:before { content: '\f00b'} /*  */
.octicon-cloud-upload:before { content: '\f00c'} /*  */
.octicon-code:before { content: '\f05f'} /*  */
.octicon-color-mode:before { content: '\f065'} /*  */
.octicon-comment-add:before,
.octicon-comment:before { content: '\f02b'} /*  */
.octicon-comment-discussion:before { content: '\f04f'} /*  */
.octicon-credit-card:before { content: '\f045'} /*  */
.octicon-dash:before { content: '\f0ca'} /*  */
.octicon-dashboard:before { content: '\f07d'} /*  */
.octicon-database:before { content: '\f096'} /*  */
.octicon-clone:before,
.octicon-desktop-download:before { content: '\f0dc'} /*  */
.octicon-device-camera:before { content: '\f056'} /*  */
.octicon-device-camera-video:before { content: '\f057'} /*  */
.octicon-device-desktop:before { content: '\f27c'} /*  */
.octicon-device-mobile:before { content: '\f038'} /*  */
.octicon-diff:before { content: '\f04d'} /*  */
.octicon-diff-added:before { content: '\f06b'} /*  */
.octicon-diff-ignored:before { content: '\f099'} /*  */
.octicon-diff-modified:before { content: '\f06d'} /*  */
.octicon-diff-removed:before { content: '\f06c'} /*  */
.octicon-diff-renamed:before { content: '\f06e'} /*  */
.octicon-ellipsis:before { content: '\f09a'} /*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before { content: '\f04e'} /*  */
.octicon-file-binary:before { content: '\f094'} /*  */
.octicon-file-code:before { content: '\f010'} /*  */
.octicon-file-directory:before { content: '\f016'} /*  */
.octicon-file-media:before { content: '\f012'} /*  */
.octicon-file-pdf:before { content: '\f014'} /*  */
.octicon-file-submodule:before { content: '\f017'} /*  */
.octicon-file-symlink-directory:before { content: '\f0b1'} /*  */
.octicon-file-symlink-file:before { content: '\f0b0'} /*  */
.octicon-file-text:before { content: '\f011'} /*  */
.octicon-file-zip:before { content: '\f013'} /*  */
.octicon-flame:before { content: '\f0d2'} /*  */
.octicon-fold:before { content: '\f0cc'} /*  */
.octicon-gear:before { content: '\f02f'} /*  */
.octicon-gift:before { content: '\f042'} /*  */
.octicon-gist:before { content: '\f00e'} /*  */
.octicon-gist-secret:before { content: '\f08c'} /*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before { content: '\f020'} /*  */
.octicon-git-commit:before { content: '\f01f'} /*  */
.octicon-git-compare:before { content: '\f0ac'} /*  */
.octicon-git-merge:before { content: '\f023'} /*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before { content: '\f009'} /*  */
.octicon-globe:before { content: '\f0b6'} /*  */
.octicon-graph:before { content: '\f043'} /*  */
.octicon-heart:before { content: '\2665'} /* ♥ */
.octicon-history:before { content: '\f07e'} /*  */
.octicon-home:before { content: '\f08d'} /*  */
.octicon-horizontal-rule:before { content: '\f070'} /*  */
.octicon-hubot:before { content: '\f09d'} /*  */
.octicon-inbox:before { content: '\f0cf'} /*  */
.octicon-info:before { content: '\f059'} /*  */
.octicon-issue-closed:before { content: '\f028'} /*  */
.octicon-issue-opened:before { content: '\f026'} /*  */
.octicon-issue-reopened:before { content: '\f027'} /*  */
.octicon-jersey:before { content: '\f019'} /*  */
.octicon-key:before { content: '\f049'} /*  */
.octicon-keyboard:before { content: '\f00d'} /*  */
.octicon-law:before { content: '\f0d8'} /*  */
.octicon-light-bulb:before { content: '\f000'} /*  */
.octicon-link:before { content: '\f05c'} /*  */
.octicon-link-external:before { content: '\f07f'} /*  */
.octicon-list-ordered:before { content: '\f062'} /*  */
.octicon-list-unordered:before { content: '\f061'} /*  */
.octicon-location:before { content: '\f060'} /*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before { content: '\f06a'} /*  */
.octicon-logo-github:before { content: '\f092'} /*  */
.octicon-mail:before { content: '\f03b'} /*  */
.octicon-mail-read:before { content: '\f03c'} /*  */
.octicon-mail-reply:before { content: '\f051'} /*  */
.octicon-mark-github:before { content: '\f00a'} /*  */
.octicon-markdown:before { content: '\f0c9'} /*  */
.octicon-megaphone:before { content: '\f077'} /*  */
.octicon-mention:before { content: '\f0be'} /*  */
.octicon-milestone:before { content: '\f075'} /*  */
.octicon-mirror-public:before,
.octicon-mirror:before { content: '\f024'} /*  */
.octicon-mortar-board:before { content: '\f0d7'} /*  */
.octicon-mute:before { content: '\f080'} /*  */
.octicon-no-newline:before { content: '\f09c'} /*  */
.octicon-octoface:before { content: '\f008'} /*  */
.octicon-organization:before { content: '\f037'} /*  */
.octicon-package:before { content: '\f0c4'} /*  */
.octicon-paintcan:before { content: '\f0d1'} /*  */
.octicon-pencil:before { content: '\f058'} /*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before { content: '\f018'} /*  */
.octicon-pin:before { content: '\f041'} /*  */
.octicon-plug:before { content: '\f0d4'} /*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before { content: '\f05d'} /*  */
.octicon-primitive-dot:before { content: '\f052'} /*  */
.octicon-primitive-square:before { content: '\f053'} /*  */
.octicon-pulse:before { content: '\f085'} /*  */
.octicon-question:before { content: '\f02c'} /*  */
.octicon-quote:before { content: '\f063'} /*  */
.octicon-radio-tower:before { content: '\f030'} /*  */
.octicon-repo-delete:before,
.octicon-repo:before { content: '\f001'} /*  */
.octicon-repo-clone:before { content: '\f04c'} /*  */
.octicon-repo-force-push:before { content: '\f04a'} /*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before { content: '\f002'} /*  */
.octicon-repo-pull:before { content: '\f006'} /*  */
.octicon-repo-push:before { content: '\f005'} /*  */
.octicon-rocket:before { content: '\f033'} /*  */
.octicon-rss:before { content: '\f034'} /*  */
.octicon-ruby:before { content: '\f047'} /*  */
.octicon-screen-full:before { content: '\f066'} /*  */
.octicon-screen-normal:before { content: '\f067'} /*  */
.octicon-search-save:before,
.octicon-search:before { content: '\f02e'} /*  */
.octicon-server:before { content: '\f097'} /*  */
.octicon-settings:before { content: '\f07c'} /*  */
.octicon-shield:before { content: '\f0e1'} /*  */
.octicon-log-in:before,
.octicon-sign-in:before { content: '\f036'} /*  */
.octicon-log-out:before,
.octicon-sign-out:before { content: '\f032'} /*  */
.octicon-squirrel:before { content: '\f0b2'} /*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before { content: '\f02a'} /*  */
.octicon-stop:before { content: '\f08f'} /*  */
.octicon-repo-sync:before,
.octicon-sync:before { content: '\f087'} /*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before { content: '\f015'} /*  */
.octicon-telescope:before { content: '\f088'} /*  */
.octicon-terminal:before { content: '\f0c8'} /*  */
.octicon-three-bars:before { content: '\f05e'} /*  */
.octicon-thumbsdown:before { content: '\f0db'} /*  */
.octicon-thumbsup:before { content: '\f0da'} /*  */
.octicon-tools:before { content: '\f031'} /*  */
.octicon-trashcan:before { content: '\f0d0'} /*  */
.octicon-triangle-down:before { content: '\f05b'} /*  */
.octicon-triangle-left:before { content: '\f044'} /*  */
.octicon-triangle-right:before { content: '\f05a'} /*  */
.octicon-triangle-up:before { content: '\f0aa'} /*  */
.octicon-unfold:before { content: '\f039'} /*  */
.octicon-unmute:before { content: '\f0ba'} /*  */
.octicon-versions:before { content: '\f064'} /*  */
.octicon-watch:before { content: '\f0e0'} /*  */
.octicon-remove-close:before,
.octicon-x:before { content: '\f081'} /*  */
.octicon-zap:before { content: '\26A1'} /* ⚡ */